- name: Initial CPAN packages
  cpanm:
    name: "{{ item }}"
  retries: 2
  with_items:
    - "CGI"
    - "Env"
    - "ExtUtils::MakeMaker"
    - "ExtUtils::PkgConfig"
    - "Fatal"
    - "JSON"
    - "Moo"
    - "Module::Install"
    - "Swagger2"
    - "UUID"
- name: CPAN packages used for testing
  cpanm:
    name: "{{ item }}"
  retries: 2
  with_items:
    - "Test::DBIx::Class"
    - "Test::Deep"
    - "Test::MockModule"
    - "Test::MockObject"
    - "Test::Strict"
    - "Test::Warn"
- name: Even more CPAN packages
  cpanm:
    name: "{{ item }}"
  retries: 2
  with_items:
    - "Algorithm::CheckDigits"
    - "AnyEvent"
    - "AnyEvent::HTTP"
    - "Archive::Extract"
    - "Authen::CAS::Client"
    - "Biblio::EndnoteStyle"
    - "Cache::FastMmap"
    - "Cache::Memcached::Fast"
    - "Cache::Memory"
    - "CGI::Session"
    - "CGI::Session::Driver::memcached"
    - "CGI::Session::Serialize::yaml"
    - "Class::Accessor"
    - "Class::Factory::Util"
    - "Convert::BaseN"
    - "Crypt::Eksblowfish::Bcrypt"
    - "Crypt::GCrypt"
    - "Data::ICal"
    - "Date::Calc"
    - "Date::Manip"
    - "DateTime::Event::ICal"
    - "DateTime::Format::ICal"
    - "DateTime::Format::MySQL"
    - "DateTime::Set"
    - "DateTime::TimeZone"
    - "DBD::Mock"
    - "DBD::mysql"
    - "DBD::SQLite2"
    - "DBIx::Class::Schema::Loader"
    - "DBIx::RunSQL"
    - "Devel::Cover"
    - "Email::Date"
    - "Email::Valid"
    - "Exception::Class"
    - "File::Slurp"
    - "Font::TTF"
    - "GD::Barcode::UPCE"
    - "Graphics::Magick"
    - "Gravatar::URL"
    - "HTML::FormatText"
    - "HTML::Scrubber"
    - "HTTPD::Bench::ApacheBench"
    - "HTTP::OAI"
    - "Koha::Contrib::Tamil"
    - "Library::CallNumber::LC"
    - "Lingua::Ispell"
    - "Lingua::Stem"
    - "Lingua::Stem::Snowball"
    - "Locale::Currency::Format"
    - "Locale::Language"
    - "Locale::Maketext::Lexicon"
    - "Locale::PO"
    - "Log::Log4perl"
    - "LWP::Protocol::https"
    - "Mail::Sendmail"
    - "MARC::Charset"
    - "MARC::Crosswalk::DublinCore"
    - "MARC::File::XML"
    - "Memoize::Memcached"
    - "MIME::Lite"
    - "Module::Bundled::Files"
    - "Module::Pluggable"
    - "Mojolicious"
    - "Net::LDAP"
    - "Net::LDAP::Filter"
    - "Net::Server"
    - "Net::Z3950::ZOOM"
    - "Number::Format"
    - "OpenOffice::OODoc"
    - "PDF::API2"
    - "PDF::API2::Simple"
    - "PDF::FromHTML"
    - "PDF::Reuse"
    - "PDF::Reuse::Barcode"
    - "PDF::Table"
    - "Plack::Middleware::ReverseProxy"
    - "Schedule::At"
    - "SMS::Send"
    - "SOAP::Lite"
    - "String::Random"
    - "Sys::Syslog"
    - "Template::Plugin::HtmlToText"
    - "Template::Plugin::JSON::Escape"
    - "Template::Plugin::Stash"
    - "Test::WWW::Mechanize"
    - "Test::YAML::Valid"
    - "Text::CSV"
    - "Text::CSV::Encoded"
    - "Text::CSV_XS"
    - "Text::Iconv"
    - "Text::PDF"
    - "Text::Unaccent"
    - "Time::Fake"
    - "UNIVERSAL::can"
    - "UNIVERSAL::require"
    - "XML::Dumper"
    - "XML::LibXML"
    - "XML::LibXSLT"
    - "XML::RSS"
    - "XML::SAX::Writer"
    - "XML::Simple"
    - "XML::Writer"
    - "YAML::Syck"
- name: CPAN packages notest
  cpanm:
    name: "{{ item }}"
    notest: yes
  retries: 2
  with_items:
    - "Text::Bidi"
- name: CPAN packages for Koha <= 3.16.00
  cpanm:
    name: "{{ item }}"
    notest: yes
  retries: 2
  with_items:
    - "Data::Pagination"
    - "Data::Paginator"
    - "DateTime::Format::DateParse"
    - "JSON::Any"
    - "MooseX::Storage"
    - "Readonly"
    - "Readonly::XS"
    - "String::RewritePrefix"
    - "Time::Progress"
  when: koha_version | version_compare('3.16.00', '==')
