---
- name: Make Install Koha
  make:
    chdir: "/usr/share/koha-{{ koha_version }}"
    target: install
- name: Set default SELinux context
  command: semanage fcontext -a -t httpd_sys_content_t  "/usr/share/koha/intranet/htdocs(/.*)?"
- name: Set default SELinux context
  command: semanage fcontext -a -t httpd_sys_script_exec_t  "/usr/share/koha/intranet/cgi-bin(/.*)?"
- name: Set default SELinux context
  command: semanage fcontext -a -t httpd_sys_content_t  "/usr/share/koha/opac/htdocs(/.*)?"
- name: Set default SELinux context
  command: semanage fcontext -a -t httpd_sys_script_exec_t  "/usr/share/koha/opac/cgi-bin(/.*)?"
- name: Restore SELinux context
  command: sudo restorecon -R "/usr/share/koha"
- name: Apply Apache2 config for Koha
  copy:
    src: "{{ item }}"
    dest: /etc/httpd/conf.d/
    mode: 0644
    owner: root
    group: root
  with_items:
    - srv_api.conf
    - srv_intranet.conf
    - srv_opac.conf
- name: Adjust paths in Koha Zebra config for RHEL
  replace:
    dest: "{{ item }}"
    regexp: >
      ^modulePath: /usr/lib/idzebra-2\.0/modules$
    replace: >
      modulePath: /usr/lib64/idzebra-2.0/modules
  with_items:
    - /etc/koha/zebradb/zebra-authorities.cfg
    - /etc/koha/zebradb/zebra-authorities-dom.cfg
    - /etc/koha/zebradb/zebra-biblios.cfg
    - /etc/koha/zebradb/zebra-biblios-dom.cfg
- name: Link Koha index control script to init.d
  file:
    src: /usr/share/koha/bin/koha-index-daemon-ctl.sh
    dest: /etc/init.d/koha-index-daemon
    state: link
- name: Run Zebra Server at startup via rc.local
  replace:
    dest: /usr/share/koha/bin/koha-index-daemon-ctl.sh
    regexp: >
      ^touch /var/lock/subsys/local$
    replace: |
      touch /var/lock/subsys/local
      export KOHA_CONF=/etc/koha/koha-conf.xml
      export PERL5LIB=/usr/share/koha/lib
      /usr/bin/zebrasrv-2.0 -D -T -p /var/run/zebrasrv.pid -f /etc/koha/koha-conf.xml -l /var/log/koha/zebrasrv.log
- name: /etc/rc.d/rc.local is executable
  file:
    path: /etc/rc.d/rc.local
    mode: 0755
    state: file
- name: Adjust background index control script for RHEL
  replace:
    dest: /usr/share/koha/bin/koha-index-daemon-ctl.sh
    regexp: >
      ^\. /lib/lsb/init-functions$
    replace: |
      . /lib/lsb/init-functions
      . /etc/rc.d/init.d/functions
      log_daemon_msg() { logger "$@"; }
      log_end_msg() { [ $1 -eq 0 ] && RES=OK; logger ${RES:=FAIL}; }
- name: stunnel chroot dir
  file:
    path: /var/lib/stunnel
    state: directory
    mode: 0755
    owner: root
    group: root
    recurse: yes
- name: Add stunnel to systemd
  copy:
    src: "{{ item }}"
    dest: /usr/lib/systemd/system/
    mode: 0644
    owner: root
    group: root
  with_items:
    - stunnel.service
- name: Apply templates
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: root
    group: root
  with_items:
    - src: main.cf.j2
      dest: /etc/postfix/main.cf
    - src: sasl_passwd.j2
      dest: /etc/postfix/sasl_passwd
    - src: SIPconfig.xml.j2
      dest: /etc/koha/SIPconfig.xml
    - src: stunnel.conf.j2
      dest: /etc/stunnel/stunnel.conf
- name: Generate SASL postmap
  command: postmap /etc/postfix/sasl_passwd
  args:
    chdir: /etc/postfix
- name: Add cronjobs
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0755
    owner: root
    group: root
  with_items:
    - src: koha-daily.cron
      dest: /etc/cron.daily/
    - src: koha-hourly.cron
      dest: /etc/cron.hourly/
    - src: koha.cron
      dest: /etc/cron.d/
