---
- name: Make Install Koha
  make:
    chdir: "/usr/share/koha-{{ koha_version }}"
    target: install
- name: Set default SELinux context
  command: semanage fcontext -a -t httpd_sys_content_t  "/usr/share/koha/intranet/htdocs(/.*)?"
- name: Set default SELinux context
  command: semanage fcontext -a -t httpd_sys_script_exec_t  "/usr/share/koha/intranet/cgi-bin(/.*)?"
- name: Set default SELinux context
  command: semanage fcontext -a -t httpd_sys_content_t  "/usr/share/koha/opac/htdocs(/.*)?"
- name: Set default SELinux context
  command: semanage fcontext -a -t httpd_sys_script_exec_t  "/usr/share/koha/opac/cgi-bin(/.*)?"
- name: Restore SELinux context
  command: sudo restorecon -R "/usr/share/koha"
- name: Apply Apache2 config for Koha
  copy:
    src: "{{ item }}"
    dest: /etc/httpd/conf.d/
    mode: 0644
    owner: root
    group: root
  with_items:
    - srv_api.conf
    - srv_intranet.conf
    - srv_opac.conf
- name: Link Koha index control script to init.d
  file:
    src: /usr/share/koha/bin/koha-index-daemon-ctl.sh
    dest: /etc/init.d/koha-index-daemon
    state: link
- name: Adjust control script for RHEL
  replace:
    dest: /usr/share/koha/bin/koha-index-daemon-ctl.sh
    regexp: >
      ^\. /lib/lsb/init-functions$
    replace: |
      . /lib/lsb/init-functions
      . /etc/rc.d/init.d/functions
      log_daemon_msg() { logger "$@"; }
      log_end_msg() { [ $1 -eq 0 ] && RES=OK; logger ${RES:=FAIL}; }
- name: stunnel chroot dir
  file:
    path: /var/lib/stunnel
    state: directory
    mode: 0755
    owner: root
    group: root
    recurse: yes
- name: Add stunnel to systemd
  copy:
    src: "{{ item }}"
    dest: /usr/lib/systemd/system/
    mode: 0644
    owner: root
    group: root
  with_items:
    - stunnel.service
- name: Apply SIP2 config for Koha
  template:
    src: "{{ item }}"
    dest: /etc/koha/SIPconfig.xml
    mode: 0644
    owner: root
    group: root
  with_items:
    - SIPconfig.xml.j2
- name: Apply stunnel config for Koha
  template:
    src: "{{ item }}"
    dest: /etc/stunnel/stunnel.conf
    mode: 0644
    owner: root
    group: root
  with_items:
    - stunnel.conf.j2
- name: Apply postfix config for Koha
  template:
    src: "{{ item }}"
    dest: /etc/postfix/
    mode: 0644
    owner: root
    group: root
  with_items:
    - main.cf.j2
    - sasl_passwd.j2
- name: Generate SASL postmap
  command: postmap /etc/postfix/sasl_passwd
  args:
    chdir: /etc/postfix
