---
- name: Add IndexData yum repository
  yum_repository:
    name: IndexData-Main.repo 
    description: Index Data Main Repository
    baseurl: http://ftp.indexdata.com/pub/yum/centos/7/main/$basearch
    gpgkey: http://ftp.indexdata.com/pub/yum/centos/7/RPM-GPG-KEY-indexdata
    gpgcheck: yes
- name: Install yum packages
  yum:
    name: "{{ item }}"
    state: latest
  with_items:
    - at
    - cyrus-sasl-plain
    - expat-devel
    - fribidi-devel
    - gobject-introspection-devel
    - GraphicsMagick
    - GraphicsMagick-perl
    - idzebra-2.0
    - libtidyp-devel
    - libuuid-devel
    - libyaz5-devel
    - mariadb
    - mariadb-devel
    - MySQL-python
    - perl-App-cpanminus
    - perl-GD
    - perl-Modern-Perl
    - python-pip
    - redhat-lsb
    - stunnel
