chroot = /var/lib/stunnel/
pid = /stunnel.pid
cert = {{ httpd_cert_path }}/star.{{ httpd_dn_suffix }}/cert.pem
key = {{ httpd_key_path }}/star.{{ httpd_dn_suffix }}/privkey.pem
options = NO_SSLv2
options = SINGLE_ECDH_USE
options = SINGLE_DH_USE

[sip2]
accept = 6443
connect = 6001

[smtp]
accept = 127.0.0.1:1025
client = yes
connect = {{ smtp_host }}:{{ smtp_port }}
